<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wla ashal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F8CAFD720B3B794001DC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8CAFEE20B3B794001DC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8CAFF920B3B794001DC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
